.header__mobile {
  position: absolute;
  display: none;
}

@media only screen and (max-width: 768px) {
  .header__mobile {
    display: block;
  }
  .open {
    right: 0px !important;
    background: #00204c;
  }

  .open__btn {
    background-color: #00204c;
    position: fixed;
    z-index: 99999;
    top: 4vw;
    right: 6vw;
    cursor: pointer;
    width: 12vw;
    height: 9vw;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .open__btn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    height: 2px;
    border-radius: 0.125vw;
    background-color: white;
    left: 15%;
    right: 15%;
    transition: 0.5s;
  }
  .open__btn span:nth-of-type(1) {
    top: 25%;
  }
  .open__btn span:nth-of-type(2) {
    top: 50%;
  }
  .open__btn span:nth-of-type(3) {
    top: 75%;
  }
  .open__btn.active span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .open__btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .open__btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header__mobile__nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  .header__mobile__nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .header__mobile__nav ul li {
    padding: 12px 0px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
  }
  .header__mobile__nav ul li a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
  }
  .contact__area__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact__area__mobile a {
    margin: auto;
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    background-color: #008C99;
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
  }
  .contact__area__mobile a img {
    width: 50px;
  }
  .contact__area__mobile a p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
}
